@import "tailwindcss";
body,html{
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    height: 100%;
    background-color:#0c1318;
    color: #e8ebed;
    width: 100%;
  }
  #root{
    height:100%;
    width: 100%;
  }
 body::-webkit-scrollbar, html::-webkit-scrollbar {
  display: none;            
}